Body{
.cabeçalho_lista {
    background-color: rgb(66, 66, 161);
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 24px;
    }
    
    .cabeçalho_imagem {
    width: 25%;
    height: 25%;
    }
    
     h1{
        color:black
     }

      nav a:hover{
        color:blue 
      }

    .itens{
    display: inline-block;
    margin: 0 32px;
    font-size: 30px;
    
    }
    
    * {
    margin: 0 16px;
    padding: 24px 0;
    }